@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #e7e9ea;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333639;
  border-radius: 4px;
}
